body
{
  background-color:violet;
  animation: animatebody 2.9s infinite;

}
.heart {
  width: 250px;
  height: 250px;
  position: relative;
  transform: rotate(45deg);
  animation: animateHeart 1.9s infinite;
}

.heart::before,
.heart::after {
  content: "";
  width: 250px;
  height: 250px;
  animation: animate 1.9s infinite;

  position: absolute;
  border-radius: 50%;
}

.heart::before {
  left: -120px;
}

.heart::after {
  top: -120px;
}

.text {
  left: -150px;
  font-weight: bold;
  color: red;
  font-size: 50px;
  position: relative;
  top: 100px;
  animation: animatetext 1.9s infinite;
  transform: rotate(-45deg);

}
@keyframes animatebody
{
  0%
  {
    background-color: thistle;
  }
  50%
  {
    background-color: violet;

  }
  100%
  {
    background-color:hotpink;

  }
}
@keyframes animateHeart {
  0% {
    transform: rotate(45deg) scale(0.8);
    background-color: salmon;
  }

  5% {
    transform: rotate(45deg) scale(0.9);
  }

  10% {
    transform: rotate(45deg) scale(0.8);
  }

  15% {
    transform: rotate(45deg) scale(1);
  }

  50% {
    transform: rotate(45deg) scale(0.8);
  }

  100% {
    transform: rotate(45deg) scale(0.8);
    background-color: red;


  }
}

@keyframes animate {
  0% {
    background-color: salmon;
  }

  100% {
    background-color: red;

  }
}

@keyframes animatetext {
  0% {
    transform: scale(0.8);
  }

  5% {
    transform: scale(0.9);
  }

  10% {
    transform: scale(0.8);
  }

  15% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(0.8);
  }
}


.center {
  position: absolute;
  top: 25%;
  left: 35%;

}