body
{
    background-color: darkslategrey;
}
.navbar a
{
    font-size: x-large !important;
    color: #f5f5f5 !important;
    transition: background-color 1.9s;
}
.navbar a:hover
{
    border-radius: 150px !important;
    font-size: 23px !important;
    color: gold !important;
    background-color: darkslategrey !important;
}
.dropdown-menu
{
    background-color: black !important;
}
#year
{
    width: auto !important;
}

#blackwhite:hover
{
    filter: grayscale(0) !important;
    filter: none !important;
    transition: all 1.2s !important;
}