body
{
    display: flex;
}
.hand-leg
{
    box-sizing: border-box;

    position: relative;
    width: 25px;
    height: 75px;
    border-radius: 50px;
    background-color: rgb(147, 221, 50);
}
#body
{


    box-sizing: border-box;
    position: relative;
    width: 100px;
    height: 100px;
    top: 40%;
    left: 32.2%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(147, 221, 50);
}
#head
{

    box-sizing: border-box;
    position: relative;
    top: 32%;
    left: 25.7%;
    width: 100px;
    height: 50px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    background-color: rgb(147, 221, 50);
}
.eyes
{
    position: absolute;
    top: 36.4%;

    background-color: rgb(255, 255, 255);
    width: 12.5px;
    height: 12.5px;
    border-radius: 100%;
}
.ears
{

    position: absolute;
    width: 5px;
    height: 30px;
    background-color: rgb(147, 221, 50);
}
#left-eye
{

    left: 40.1%;
}
#right-eye
{

    left: 43.5%;
}
#left-hand
{
    transform: rotate(0deg);
    top: 39.5%;
    left: 34.9%;
    transform-origin: 40% 25%;
}
#right-hand
{
    top: 39.5%;
    left: 46.1%;
    transform-origin: 40% 25%;
}
#left-leg
{
    top: 49.5%;
    left: 35.1%;
}
#right-leg
{
    top: 49.5%;
    left: 39.1%;

}
#left-ear
{
    transform: rotate(-40deg);
    top: 31%;
    left: 40%;
}
#right-ear
{
    transform: rotate(40deg);
    top: 31%;
    left: 44%;
}
@font-face {
    font-family: Android;
    src: url(Android.ttf);
}
h1{
    font-family: "Android";
    position: relative;
    top: 450px;
    left: 260px;
} 