*
{
    box-sizing: border-box;
    outline: none;
}
#main
{
    box-sizing: border-box;
    width: 30%;
    position: relative;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    background-color: rgb(197, 197, 169);
    top: 30px;
    left: 20%;
}
.row-2
{
    padding-left: 20px;
    margin-top: 40px;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    
}
.row-2 h1 , .row-2 p
{
    display: inline;
}

.row-2 #play-btn
{
    text-align: justify;
    color: white;
    font-size: 35px;
    position: absolute;
    top: 19%;
    right: 11%;
    background-color: blue;
    border-style: none;
    padding: 1px 7px 5px 6px;
    border-radius: 50%;
    width: 50px;
}
.row-2 #play-btn:hover
{
    background-color: lightblue;
}
.row-2 #play-btn:active
{
    background-color: blue;
    transform: scale(1.1,1.1);
}
.red-color 
{
    color:rgb(255, 255, 255);
}
svg
{
    color: blue;
}
svg:hover
{
    cursor: pointer;
}